body {
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    transform-style: preserve-3d;
    perspective-origin: center center;
    line-height: 1.5;
}
p {
    margin: 0 auto;
    position: absolute;
    top: 400px;
    font-size: 40px;
    animation: move 30s linear 0s infinite;
    transform: translatez(-1px);
    perspective: 800px;
    perspective-origin: center center;
}
.bg {
    perspective: 500px;
  }
  p {
    transform: rotateX(50deg);
  }
.bg {
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: blanchedalmond;
    text-align: center;
    font-size: 40px;
    transform: rotate3d(0,45deg,0);
}
.star_wars {
    width: 100vw;
    perspective: 500px;
    height: 100vh;
    transform: rotateX(45deg);
}
@keyframes move {
    0% {
        top: 800px;
        transform: translatez(-1px);
        transform: scale(1);
      }
      100% {
        top: -400px;
        transform: translateZ(-100px);
        transform: scale(.5);
      }
}